/**
 * #.# Editor Styles
 *
 * CSS for just Backend enqueued after style.scss
 * which makes it higher in priority.
 */

	.profile-box {
		flex-direction: row;
		flex-wrap: wrap;
		&__texts {
			padding: 40px 30px;
		}
		&__name-jp {
			font-size: inherit;
		}
		&__name-eng {
			font-size: inherit;
		}
		&__content > p:last-child {
			margin-bottom: 0;
		}
	}