/**
 * #.# Styles
 *
 * CSS for both Frontend+Backend.
 */

.profile-box {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
	font-family: "Helvetica Neue", "Segoe UI","Noto Sans Japanese","ヒラギノ角ゴ ProN W3", Meiryo, sans-serif;
	&__image {
		overflow: hidden; 
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		min-height: 248px;
    background-color: #f1f1f1;
    border: 1px solid #eee;
		>img {		
	    width: 100%;
	    max-height: 100%;
	    object-fit: cover;
		}
	}
	&__texts {
		width: calc(100% - 50px);
		margin: -40px auto 0;
		padding: 40px 50px;
		background-color: #fff;
		border: 1px solid #f9a156;
		position: relative;
    z-index: 1;
	}
	&__button {
		margin-top: -30px;
	}
	&__year {
		width: 140px;
		font-size: 12px;
	}
	&__name {
		display: flex;
		align-items: center;
		margin-bottom: 4px;
	}
	&__name-jp {
		display: inline-block;
		margin-right: 10px;
		font-size: 20px;
		font-weight: bold;
		letter-spacing: .05em;
	}
	&__name-eng {
		display: inline-block;
		margin: 0!important;
		color: #9F9F92;
		font-size: 12px;
		font-weight: bold;
		letter-spacing: .1em;
	}
	&__title {
		width: 200px;
		font-size: 12px;
		font-weight: bold;
	}
	&__content {
		padding: 0;
		margin-top: 30px;
		font-size: 14px;
		line-height: 1.8;
		> p {
			margin: 0;
		}
		> p + p {
			margin-top: 1em;
		}
	}
}
@media screen and (max-width:768px){
	.profile-box {
		&__texts {
			padding: 46px 30px;
		}

	}
}